@import '../variables.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
}

.Layout {
  margin: 0 auto;
}

.jumpbotron {
  background: $brand-color;
  color: $white;
  margin-bottom: 20px;
  padding: 30px 20px;
}

//super simple grid :: https://css-tricks.com/dont-overthink-it-grids/
.grid {
  margin: 0 0 $grid-padding 0;

  &:after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }
}
[class*='grid__col-'] {
  float: left;
  padding-right: $grid-padding;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.grid__col-2-3 {
  width: 66.66%;
}
.grid__col-1-3 {
  width: 33.33%;
}
.grid__col-1-2 {
  width: 50%;
}
.grid__col-1-4 {
  width: 25%;
}
.grid__col-1-6 {
  width: 16.66%;
}
.grid-pad {
  padding: $grid-padding 0 $grid-padding $grid-padding;
  [class*='grid__col-']:last-of-type {
    padding-right: $grid-padding;
  }
}

@media (min-width: $screen-sm-min) {
  .Layout {
    width: calc($screen-sm-min - 18px);
  }
}

@media (min-width: $screen-md-min) {
  .Layout {
    width: calc($screen-md-min - 22px);
  }
}

@media (min-width: $screen-lg-min) {
  .Layout {
    width: calc($screen-lg-min - 30px);
  }
}
