
$brand-color: #365ebd;
$brand-color-darker: #3b579d;
$black: #222;
$white: #fff;
$grey: #eaebf0;
$success: #5cb85c;
$success-darker: #52a752;
$danger: #d9534f;
$danger-darker: #c64c48;


$body-bg: $white;
$text-color: #222;


$pad: 10px;
$grid-padding: $pad;
$radius-size: 5px;


$font-family-base: 'Roboto', 'Helvetica', sans-serif;


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


/* Reset:: // css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption,
hr{
    margin:0;
    padding:0;
}

li > {

  ul,
  ol {
    margin-bottom: 0;
  }

}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title],
dfn[title]{
    cursor:help;
}

a,u,ins{
    text-decoration:none;
}

ins {
    border-bottom: 1px solid;
}

img{
    font-style:italic;
}

label,
input,
textarea,
button,
select,
option {
    cursor:pointer;
}

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
    cursor:text;
    outline:none;
}
