@import '../variables.scss';

.PropertyCollection {
  li {
    margin-bottom: 10px;
  }
  header {
    color: $black;
    margin-bottom: 20px;
  }
  .PropertyCollection__list {
    list-style: none;
    padding-left: 0;
    position: relative;
  }
}

/* when parent is loading */
/* spinner based off http://projects.lukehaas.me/css-loaders/ */
.is-loading {
  .PropertyCollection__list {
    &::before {
      animation: load8 1.1s infinite linear;
      border-bottom: 1em solid rgba(0, 0, 0, 0.2);
      border-left: 1em solid rgba(0, 0, 0, 0.4);
      border-right: 1em solid rgba(0, 0, 0, 0.2);
      border-top: 1em solid rgba(0, 0, 0, 0.2);
      box-sizing: content-box;
      font-size: 10px;
      text-indent: -9999em;
      transform: translateZ(0);
      border-radius: 50%;
      content: '';
      height: 1em;
      left: $pad;
      position: absolute;
      top: $pad;
      width: 1em;
    }
    li {
      opacity: 0;
      /* should add aria-hidden -- using opacity to hide, so it takes indended space incase
         there are components below this one */
    }
  }
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* when parent has error */

.has-error {

}