@import '../variables.scss';

.Card {

}
.Card__button {
  background: $brand-color;
  border-radius: 18px;
  border: 0;
  bottom: 5%;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  color: $white;
  cursor: pointer;
  display: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
  margin: 0 5%;
  outline: 0;
  padding: $pad 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  z-index: 1;
}
.Card__button:active,
.Card__button:focus {
  background: $brand-color-darker;
}
.Card__button--remove {
  background: $danger;
  &:active,
  &:focus {
    background: $danger-darker;
  }
}
.Card__button--add {
  background: $success;
  &:active,
  &:focus {
    background: $success-darker;
  }
}
.Card:hover,
.Card:focus {
  .Card__button {
    display: block;
  }
}
.Card__header {
  background: $brand-color;
  border-radius: $radius-size $radius-size 0 0;
  padding: $pad;
  img {
    vertical-align: bottom;
  }
}
.Card__media {
  margin: 0;
  position: relative;
  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
.Card__woff {
  background: $grey;
  border-radius: 0 0 $radius-size $radius-size;
  padding: 20px $pad;
}
